<iframe width="853" height="480" src=<%= "https://www.youtube.com/embed/#{@video.video_source_id}?rel=0&amp;showinfo=0"%> frameborder="0" allowfullscreen></iframe>

<h1><%= @video.name.titleize %></h1>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
