<div class="pull-left">
  <% if current_user_subscribed? %>
    <%= link_to "Subscribed !", edit_subscription_path, class: "btn btn-success btn-sm" %>
  <% else %>
    <%= link_to new_subscription_path, class: "btn btn-primary btn-sm", style: "margin-right: 5px;" do %>
      Subscribe <span class="badge">$9.00</span>
    <% end %>
  <% end %>

  <%= liked_button if user_signed_in? %>
</div>

<div class="pull-right">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= @subs_count %>
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= @liked_count %>

</div>

<div class="clearfix"></div>
