<% content_for :page_title do %>
  Ruby on Rails by Coding Actual Projects
<% end %>

<iframe width="853" height="480" src=<% if Rails.env.development? %>""<% else %> <%= "https://www.youtube.com/embed/#{@video_home_id}?rel=0&amp;autoplay=1;controls=0;showinfo=0"%><% end %> frameborder="0" allowfullscreen></iframe>

<%= render partial: "shared/subs_panel" %>

<hr />
<div class="row">
  <h2 class="text-center">Latest Projects</h2>
  <%= render partial: "shared/project_panel", collection: @projects, as: "project" %>
</div>
<div class="text-center">
  <%= link_to "View More Projects", projects_path, class: "btn btn-sm btn-default" %>
</div>
<hr />
<div class="row">
  <div class="col-sm-6">
    <h2>About Alias::Nerd</h2>
    <p>I love nerd culture and I love to learn new things, invent/create/design new things. I also think I'm not the only one. My day job is not a professional programmer or gamer or modeler or novelist or comic book creator, I just love those things as a hobby and I work hard to learn and become better at those things. Alias::Nerd is about and for all the hobbyist out there who want to learn how to code or watch a fellow nerd rack up kills in the latest FPS, or share their passion over a charter in some graphic novel. Please join me with whatever free time you have, I'd love to talk.</p>
    <h2>Why Sponsor?</h2>
    <p>I want this site and its content to be as open as I can without lossing money, that would suck. So it is my hope to bring you all the live streamed content creation free to all. Not even basic registration is required to view the live stream.</p>
    <p>Live stream isn't always the best way to learn a new thing or the most time effective so I will be editing soen and currating proper videos for your pleasure. Since these videos will take many hours to compile, I will offer these to my viewers who Sponsor the website.</p>
    <p>Below is a list of benefits for Sponsoring: </p>
    <ul>
      <li></li> 
    </ul>
  </div>
  <div class="col-sm-6">
    <h2>My Setup</h2>
    <h3>Laptop</h3>
    <ul>
      <li>MacBook Pro 15"</li> 
    </ul>
    <h3>Desktop</h3>
    <ul>
      <li>Intel Core i7-4790k 4.0GHz Quad-Core Processor</li>
      <li>Asus SaberTooth Z97 Mark2 Motherboard</li>
      <li>32GB G.Skill RipJaws X Series DDR3-1600 Memory</li>
      <li>EVGA GeForce GTX 970 4GB Superclocked Video Card</li>
      <li>EVGA 750W 80+ Gold Fully Modular ATX Power Supply</li>
      <li>Corsair H110i Liquid CPU Cooler</li>
      <li>Corsair 750D ATX Full Tower Case</li>
      <li>Samsung 850 EVO-Series Solid State Drive</li>
      <li>Microsoft Windows 10 Pro OEM 64-Bit</li> 
      <li><%= link_to "Full List & Prices", "https://ca.pcpartpicker.com/user/JBourne/builds/#view=Td7hP6" %></li>
    </ul>
  </div>
</div>
