<h1 class="text-center">Things We've Made</h1>
<div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
          <div class="panel-body">
            <h3><%= project.name %></h3>
            <p><%= project.description %></p>
            <div class="row">
              <div class="col-sm-4">
                <%= link_to "Website", url_for(project.web_link), class: "btn btn-block btn-default" %>
              </div>
              <div class="col-sm-4">
                <%= link_to "Edit", edit_project_path(project) if current_user_admin? %>
              </div>
              <div class="col-sm-4">
                <%= link_to "Github", project.github_link, class: "btn btn-block btn-default" %>
              </div>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'New Project', new_project_path if user_signed_in? %>
